<div class="section">
  <blockquote>
    <div class="row">
      <h6 class="header left col s8" style="font-size: 1.3rem"><strong><%= education.major %></strong></h6>
      <% if education.enrolledtime != '' && education.gradtime != '' %>
        <h6 class="header right-align col s4 blue-grey-text text-lighten-1 light" style="font-size: 1.1rem"><i><%= education.enrolledtime %> ~ <%= education.gradtime %></i></h6><br>
      <% end %>
      <h6 class="header left col s8 light" style="font-size: 1.1rem"><span><%= education.university %></span></h6>
      <% if education.location %>
        <h6 class="header right-align col s4 blue-grey-text text-lighten-1 light"><i><%= education.location %></i></h6>
      <% end %>
    </div>
  </blockquote>
  <% if education.details %>
    <div class="row">
      <% education.details.each do |detail| %>
        <p><i class="material-icons left">chevron_right</i><%= detail.content %></p>
      <% end %>
    </div>
  <% end %>
</div>